@import "tailwindcss";
@plugin "daisyui";

.menu-item {
  @apply flex items-center gap-3
         px-4 py-2
         rounded-lg
         text-sm font-medium
         transition-all duration-200
         hover:bg-[#DE5499];
}
